@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Permanent Marker", cursive;
}

.nosotros{
    background: url("../images/img-2.jpeg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.8);
    object-fit: contain;
    margin-top: -80px;
    color: #fff

}

.estadisticas{
    background: url("../images/img-8.jpeg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.8);
    object-fit: contain;
    margin-top: -80px;
    color: #fff

}

.privacy{
    background: url("../images/img-9.jpg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.8);
    object-fit: contain;
    margin-top: -80px;
    color: #fff
}


.blog{
    background: url("../images/img-7.jpeg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.6);
    object-fit: contain;
    margin-top: -80px;
    color: #fff

}
